.deals {

  .create-btn {
    margin-right: 5px;

  }

  .digital-bss-basic-table .ant-table-thead>tr>th {
    background-color: #f2f4f5;
  }

  .kanban-container::-webkit-scrollbar {
    display: none;
  }

  .kanban-container {
    scrollbar-width: none;
    -ms-overflow-style: none;

  }
}