
.summery-body-section {
    border-top: 1px solid #D9D9D9;
    padding: 16px 45px;
    background: white;


    .summery-revenue-text{
      color: #1E6059;
      font-size: 24px;
      font-weight: 600;
    }
}

.content-date{
  display: flex;
  .summery-date{
    background: #F8F9FA;
    height: 20px;
    border-radius: 4px;
    margin-left: 35px;
  }
}

